@font-face {
    font-family: 'Shiseido Neue';
    src: url('ShiseidoNeue-Regular.eot');
    src: url('ShiseidoNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('ShiseidoNeue-Regular.woff2') format('woff2'),
        url('ShiseidoNeue-Regular.woff') format('woff'),
        url('ShiseidoNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: 'Shiseido Neue';
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
}

h2 {
  margin-bottom: 60px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

.circle {
  z-index: -1;
  position: absolute;
  top: 4px;
  left: 20px;
}


#homebutton {
  position: fixed;
  z-index: 1;
  color: inherit;
  text-decoration: none;
  top: 20px;
  left: 20px;
  font-size: 24px;
  padding: 10px;
}

.mainphotobox {
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mainphoto {
  max-height: 600px;
  max-width: 600px;
  vertical-align: middle;
}

.fade {
  display: none;
}

.currentmain {
  display: block;
}

.menubutton {
  font-size: 18px;
  position: fixed;
  z-index: 1;
  transform: rotate(90deg);
  right: 10px;
  padding: 10px;
}
.contact {
  position: fixed;
  z-index: 1;
  right: 20px;
  padding: 10px;
}

#worksbutton {
  top: 41vh;
}

#aboutbutton {
  bottom: 41vh;
}

#workslist {
  position: absolute;
  float: left;
  left: 30px;
  top: 30vh;
  width: 200px;
  height: 100vh;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
}

.workspage {
  z-index: -1;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  width: 100vw;
  padding-left: 20vw;
  padding-right: 10vw;
  height: 100vh;
  padding-bottom: 100px;
}

ul {
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
  margin-bottom: 500px;
}

li {
  margin-bottom: 10px;
  padding: 10px 10px 10px 0px;
}

li img {
  position: absolute;
  z-index: -1;
  left: 20px;
}

.worktext {
  padding-top: 100px;
  width: 60vw;
  padding-left: 10vw;
  line-height: 1.4;
}

/* Slideshow container */
.slideshow-container {
  max-width: 70vw;
  width: 70vw;
  position: relative;
  margin: auto;
  height: 92vh;
}

/* Hide the images by default */
.mySlides {
  height: 100%;
  position: relative;
}

.fadeslide {
  text-align: center;
}

.mySlides img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #797979;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000000;
}

/* Fading animation */
.fadeslide {
  -webkit-animation-name: fadeslide;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeslide;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeslide {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fadeslide {
  from {opacity: .4}
  to {opacity: 1}
}

#aboutpage {
  padding-left: 30vw;
  padding-top: 25vh;
  padding-right: 10vw;
  padding-bottom: 5vh;
  line-height: 1.8;
  overflow: auto;
  height: 100vh;
}
